/* Global style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 20px;
}
h1,
h2,
p,
span {
    font-family: Helvetica;
}

h1,
h2,
h3,
span {
    font-weight: bold;
}


/* Header */
.navigation h1 {
    margin: 30px 0;
    margin-bottom: 100px;
    font-size: 100px;
    color: khaki;
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg');
    text-align: center;
}
/* Main */
.section_one h2 {
    font-size: 32px;
    color: white;
    margin: 20px 0;
}
.section_one p span {
    color: blue;
}
.section_one #brushes {
    background-color: mediumspringgreen;
}
.section_one #frames {
    background-color: lightcoral;
}
.section_one #paint {
    background-color: skyblue;
}





