body {
    font-family: Arial, sans-serif;
    background-color: gainsboro;
}
h1, h2 {
    text-align: center;
}
h2 {
    color: rebeccapurple;
    margin-top: 40px;
    font-size: 28px;
}
table {
    border: 3px solid purple;
    width: 650px;
    margin: 0 auto;
}
thead {
    background-color: plum;
    padding: 15px;
    font-size: 22px;
}
th {
    border: 2px dotted black;
}
td {
    border: .6px solid gray;
    border-top: 3px solid purple;
    padding: 5px;
}
.changeColor {
    font-family: 'Courier New', Courier, monospace;
    background-color: whitesmoke;
    color: darkblue;
    font-weight: 600;
    font-size: 18px;
}